<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

<article>
    <h1>{{messageError}}</h1>
    <a href="/login">Volver al login</a>
</article>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>