<main class="container">
    <h1>Productos en real time</h1>
    <div>
        <div>
            <form id="frmProduct">
                <div class="grid">
                    <label for="title">
                        Title
                        <input type="text" id="title" name="title" placeholder="title" required>
                    </label>
                    <label for="description">
                        description
                        <input type="text" id="description" name="description" placeholder="description" required>
                    </label>
                    <label for="price">
                        Price
                        <input type="number" id="price" name="price" placeholder="price" required>
                    </label>
                </div>

                <div class="grid">
                    <label for="price">
                        Stock
                        <input type="number" id="stock" name="stock" placeholder="stock" required>
                    </label>
                    <label for="code">
                        Code
                        <input type="text" id="code" name="code" placeholder="code" required>
                    </label>
                    <label for="thumbnail">
                        Category
                        <input type="text" id="category" name="category" placeholder="category" required>
                    </label>
                </div>
                <label for="thumbnail">
                    Thumbnail
                    <input type="text" id="thumbnail" name="thumbnail" placeholder="thumbnail" required>
                </label>
                <button type="submit">Adicionar</button>
            </form>
        </div>
        <div>
            <table id="tblProducts">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">title</th>
                        <th scope="col">description</th>
                        <th scope="col">price</th>
                        <th scope="col">thumbnail</th>
                        <th scope="col">code</th>
                        <th scope="col">stock</th>
                        <th scope="col">category</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="tbodyProducts">
                </tbody>
            </table>

        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/index.js"></script>
</main>